body {
  font-family: 'Verdana', sans-serif;
  line-height: 1.6;
  padding: 20px;
  background-repeat: round;
  background-position: center center;
  background-attachment: fixed;
  background-size: auto;
}

.heading--secondary {
  color: #000000;
}