.main {
  background-color: #ffffff;
  color: #0D6EFD;
  padding: 10px;
  border-radius: 1px;
  margin: 1px;
}

.main__link {
  color: #0D6EFD;
  text-decoration: none;
  margin: 0 15px;
  font-weight: normal;
}

.main__link:hover {
  color: #0D6EFD;
}